# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env / secrets
.env
.env.*

# AWS SAM
.aws-sam/
samconfig.toml

# OS
.DS_Store

# Editors
.vscode/
.idea/

# Local artifacts
*.log
.coverage
htmlcov/
